{% extends 'base.html.twig' %}

{% block title %}Datospersonales index{% endblock %}

{% block body %}
    <h1>Datos clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fechanacimiento</th>
                <th>Dni</th>
                <th>Mascotas</th>
                <th>Tipomascota</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for datospersonale in datospersonales %}
            <tr>
                <td>{{ datospersonale.id }}</td>
                <td>{{ datospersonale.nombre }}</td>
                <td>{{ datospersonale.apellidos }}</td>
                <td>{{ datospersonale.fechanacimiento ? datospersonale.fechanacimiento|date('Y-m-d') : '' }}</td>
                <td>{{ datospersonale.dni }}</td>
                <td>{{ datospersonale.mascotas }}</td>
                <td>{{ datospersonale.Tipomascota }}</td>
                <td>
                    <a id="ajustes" href="{{ path('app_datospersonales_show', {'id': datospersonale.id}) }}">mostrar</a>
                    <a id= "ajustes2" href="{{ path('app_datospersonales_edit', {'id': datospersonale.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_datospersonales_new') }}">Crear nuevo</a>
{% endblock %}
